---
layout: page
title: Narsi's Blog
---
<div class="page_post_preview">
    <ul>
        {% for post in site.posts %}
            <li class="jquery_pages">
                <div class="page_post_title">
                    <h2>
                    <a href="{{ site.baseurl1}}{{ post.url }}">{{ post.title }}</a> <span class="index_post_time">{{ post.date | date_to_string }}</span>
                    </h2>
                </div>
                <div class="page_post_content">
                {{ post.description }}
                <p class="read-more"><a href="{{ site.baseurl1}}{{ post.url }}">阅读全文</a></p>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

<div class="page_post_list">
    <h2>最新文章</h2>
    <ul>
        {% for post in site.posts limit:5 %}
            <li>
                {{ post.date | date_to_string }} <a href="{{ site.baseurl1}}{{ post.url }}" title="文章:{{ post.title }}">《{{ post.title }}》</a>
            </li>
        {% endfor %}
    </ul>
</div>