---
layout: page
title: Narsi's Blog
---
<div class="page_post_preview">
    <ul>
        {% for post in site.posts %}
            <li>
                <div class="page_post_title">
                    <h2>
                    <a href="{{ site.baseurl1}}{{ post.url }}" title="文章:{{ post.title }}">{{ post.title }}</a>
                    </h2>
                </div>
                <div class="page_post_content">
                {{ post.content }}
                <p class="read-more"><a href="{{ site.baseurl1}}{{ post.url }}">阅读全文</a></p>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

<div class="page_post_list">
    <h2>文章列表</h2>
    <ul>
        {% for post in site.posts %}
            <li>
                {{ post.date | date_to_string }} <a href="{{ site.baseurl1}}{{ post.url }}" title="文章:{{ post.title }}">《{{ post.title }}》</a>
            </li>
        {% endfor %}
    <ul>
</div>