---
layout: default
---
<div id="header">
    <h1>
        <strong><a href="http://huangxc.com">{{ site.title }}</a></strong>
    </h1>
    <ul class="nav">
        <li class="nav_li"><a href="http://huangxc.com/about">关于</a></li>
         / 
        <li class="nav_li"><a href="http://huangxc.com/atom.xml"  target="_blank">订阅</a></li>
    </ul>
</div>

<div id="content">
    {{ content }}
</div>

<div id="footer">
    <div class="copyright right">
        {% for line in site.copyright %}
        <p>{{ line }}</p>
        {% endfor %}
    </div>
</div>