---
layout: page
---
<div class="entry">
    {{ content }}
</div>

<!--加载Disqus评论-->
<div id="disqus_thread"><a class="comment" href="#" onclick="return false;">点击查看评论</a></div>
<script type="text/javascript">
    $(document).ready(function(){
        //***********************
        //**评论的代码也删掉哦***
        window.disqus_shortname = 'narsi'; // required: replace example with your forum shortname
        $('#disqus_container .comment').on('click',function(){
            alert("yes");
            $(this).html('加载中...');
            var that = this;
            $.getScript('http://' + disqus_shortname + '.disqus.com/embed.js',function(){$(that).remove()});
        });
    })
</script>