---
layout: default
---
<link rel="stylesheet" href="/js/prettify/prettify_desert.css" type="text/css"/>

<style type="text/css">
    body {
        background: rgb(245, 245, 245);
    }

    @media screen and (max-width: 750px) {
        body {
            background: #fff;
        }
    }

    @media screen and (max-width: 1020px) {
        body {
            background: #fff;
        }
    }

    #ds-thread {
        padding: 24px;
    }
</style>

<div id="content">
    <div class="left" style="position:absolute; z-index:9;">
        <a href="/">
            <div id="nav_avatars_back"><img id="home_avatar" src="/images/icon/plus.png" class="no"/></div>
        </a>
        <!--
        <div id="nav_avatars">
            <a href="/"><img class="nav_avatar" id="nav_avatar1" src="/images/icon/1.png" title="主页"/></a>
            <a href="javascript:void(0)"><img class="nav_avatar" id="nav_avatar2" src="/images/icon/2.png" title="归档"/></a>
            <a href="/about.html"><img class="nav_avatar" id="nav_avatar3" src="/images/icon/3.png" title="关于"/></a>
        </div>
        -->
    </div>

    <div class="entry">
        <h1 class="entry_title"><a href="{{page.url}}" title="{{page.title}}">{{ page.title }}</a></h1>
        <p class="entry_date">
            <time>{{ page.date|date:"%Y-%m-%d" }}</time>
        </p>
        <article id="article_content">
            {{ content }}
        </article>

        <aside id="other_posts">
            {% if page.previous %}
            <span style="text-align:left">
                <a href={{ page.previous.url }}>旧语： {{ page.previous.title | truncatewords:5 }}</a>
            </span>
            {% endif %}
            {% if page.next %}
            <span style="text-align:right">
                <a href={{ page.next.url }} class="right">新言： {{ page.next.title | truncatewords:5 }}</a>
            </span>
            {% endif %}
        </aside>

        <div class="ds-thread" data-thread-key="{{ page.url }}" data-title="{{ page.title }}"
             data-url="http://www.huangxc.com{{ page.url }}">
        </div>
    </div>
</div>

<footer id="floater"></footer>
<!--
<div id="category">
    <div class="close_window">
        <a href="javascript:void(0)"><img src="/images/icon/close.png" alt="关闭窗口" title="关闭"/></a>
    </div>
    <ul class="article-list">
        <div>最近十篇</div>
        {% for post in site.posts limit:10%}
        <li><span class="post_time">{{ post.date | date:"%Y-%m-%d" }} &raquo;</span><a href="{{ post.url }}"> {{ post.title }} </a></li>
        {% endfor %}
        <div><a href="/category.html">查看所有文章归档</a></div>
    </ul>
</div>
-->
