---
layout: page
title: test
---
<div class="post_left">
    <div class="post_post_content">
        {{ content }}
    </div>

    {% if page.previous %}
        <a href={{ page.previous.url }} class="left">旧语： {{ page.previous.title | truncatewords:5 }}</a>
    {% endif %}
    {% if page.next %}
        <a href={{ page.next.url }} class="right">新言： {{ page.next.title | truncatewords:5 }}</a>
    {% endif %}
    <!--加载Disqus评论-->
    <div id="disqus_container">
        <a id="show_disqus" href="javascript:void(0)">点击查看评论</a>
        <div id="disqus_thread"></div>
    </div>
    <script type="text/javascript">
        $(function(){
            $("#show_disqus").click(function(){
                $("#show_disqus").hide();
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = 'narsi'; // required: replace example with your forum shortname

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            })
        })
    </script>
</div>

<div class="post_right">
    <h2>文章归档</h2>
    <ul>
        {% for post in site.posts %}
            <li>
                {{ post.date | date:"%Y-%m-%d"}} <a href="{{ site.baseurl1}}{{ post.url }}" title="文章:{{ post.title }}">《{{ post.title }}》</a>
            </li>
        {% endfor %}
    <ul>
</div>
